<nav class="sidebar">
  <img src="public/logo1.png" class="logo-small" alt="Logo">
  <div class="nav-items">
    <a class="nav-item active" data-category="destaques" onclick="selectCategory('destaques')">
      <img src="icones/estrela (2).png" class="nav-icon-img" alt="Destaques">
      <span class="nav-label">Destaques</span>
    </a>
    <a class="nav-item" data-category="lanches" onclick="selectCategory('lanches')">
      <img src="icones/x-burger.png" class="nav-icon-img" alt="Lanches">
      <span class="nav-label">Lanches</span>
    </a>
    <a class="nav-item" data-category="bebidas" onclick="selectCategory('bebidas')">
      <img src="icones/aplausos-de-vidro.png" class="nav-icon-img" alt="Bebidas">
      <span class="nav-label">Bebidas</span>
    </a>
    <a class="nav-item" data-category="sobremesas" onclick="selectCategory('sobremesas')">
      <img src="icones/tigela-de-saque-suave (1).png" class="nav-icon-img" alt="Sobremesas">
      <span class="nav-label">Sobremesas</span>
    </a>
  </div>
</nav>
